#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #e2dddd;}
  #customers tr:nth-child(odd){background-color: #9c9797;}
  
  #customers tr:hover {background-color: rgb(245, 243, 243);}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9c9ed6;
    color: white;
  }